#my-coupons .promocodes-list {
  margin-top: 32px;
  margin-bottom: 32px;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    &_tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    &_mobile {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 16px;
      justify-items: center;
    }
  }
}
