@import '../../styles/colors';
@import '../../styles/base';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MyAccountCmsPage_myCms__55bsL {
  padding: 0 !important;
}

#my-coupons .app {
  margin: 0;
  box-sizing: border-box;
  font-family: "Museo", sans-serif;
  color: $dark;
  padding: 40px;

  &_mobile {
    padding: 16px;
  }

  &__container {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
  }

  button, input {
    font-family: inherit;
  }

  figure {
    margin: 0;
  }

  img {
    max-width: 100%;
  }
}
